<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- servlet_other -->
    <servlet>
        <servlet-name>PublisherLoginServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.PublisherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublisherLogoutServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.PublisherLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublisherRegisterServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.PublisherRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerLoginServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.ViewerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerLogoutServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.ViewerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewerRegisterServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.others.ViewerRegisterServlet</servlet-class>
    </servlet>
    <!-- servlet_viewer -->
    <servlet>
        <servlet-name>CreateSubscriptionServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.CreateSubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscriptionServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.AddSubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPublicKeyServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.GetPublicKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizeSubscriptionServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.FinalizeSubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyPendingServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.GetMyPendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyFinalizeServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.GetMyFinalizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyTagsServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.GetMyTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagesServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.viewer.GetMessagesServlet</servlet-class>
    </servlet>
    <!-- servlet_publisher -->
    <servlet>
        <servlet-name>GetMyMessagesServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.GetMyMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubscriptionServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.UpdateSubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySubscriptionRequestServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.MySubscriptionRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyFollowersServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.GetMyFollowersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishVideoServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.PublishVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishLiveServlet</servlet-name>
        <servlet-class>cookiework.encryptvideoweb.publisher.FinishLiveServlet</servlet-class>
    </servlet>
    <!-- servlet_mapping_other -->
    <servlet-mapping>
        <servlet-name>PublisherLoginServlet</servlet-name>
        <url-pattern>/publisher_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublisherLogoutServlet</servlet-name>
        <url-pattern>/publisher_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublisherRegisterServlet</servlet-name>
        <url-pattern>/publisher_regist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerLoginServlet</servlet-name>
        <url-pattern>/viewer_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerLogoutServlet</servlet-name>
        <url-pattern>/viewer_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewerRegisterServlet</servlet-name>
        <url-pattern>/viewer_regist</url-pattern>
    </servlet-mapping>
    <!-- servlet_mapping_viewer -->
    <servlet-mapping>
        <servlet-name>CreateSubscriptionServlet</servlet-name>
        <url-pattern>/viewer/createsubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscriptionServlet</servlet-name>
        <url-pattern>/viewer/addsubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPublicKeyServlet</servlet-name>
        <url-pattern>/viewer/getpublickey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizeSubscriptionServlet</servlet-name>
        <url-pattern>/viewer/finalize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyPendingServlet</servlet-name>
        <url-pattern>/viewer/mypending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyFinalizeServlet</servlet-name>
        <url-pattern>/viewer/myfinalize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyTagsServlet</servlet-name>
        <url-pattern>/viewer/mytags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagesServlet</servlet-name>
        <url-pattern>/viewer/messages</url-pattern>
    </servlet-mapping>
    <!-- servlet_mapping_publisher -->
    <servlet-mapping>
        <servlet-name>GetMyMessagesServlet</servlet-name>
        <url-pattern>/publisher/mymessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubscriptionServlet</servlet-name>
        <url-pattern>/publisher/updatesubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySubscriptionRequestServlet</servlet-name>
        <url-pattern>/publisher/myrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyFollowersServlet</servlet-name>
        <url-pattern>/publisher/myfollowers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishVideoServlet</servlet-name>
        <url-pattern>/publisher/publishvideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishLiveServlet</servlet-name>
        <url-pattern>/publisher/finishlive</url-pattern>
    </servlet-mapping>
</web-app>